* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

header .logo h1 {
    font-size: 24px;
}

header .navegacao ul {
    display: flex;
    list-style: none;
}

header .navegacao ul li {
    margin-right: 20px;
}

header .navegacao ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

header .navegacao ul li a:hover {
    text-decoration: underline;
}