:root{
    --rosinha:#0d1b2a;
    --açai:#778da9;
    color: #e0e1dd;

}

body {
    margin: 0;
    padding: 0;
    background-color: var(--rosinha);
}

header {
    padding: 15px;
    background-color: var(--açai);
    grid-template-columns: 95% 5%;
    display: grid;

}

h1 {
    color: var(--bege);
    display: flex;
    justify-content: center;
}

.materia-links {
    display: flex;              
    justify-content: center;    
    align-items: center;       
}
  
.materia-links ul {
    list-style: none;
    gap: 125px;                  
    margin: 0 auto;  
    display: flex;  
    text-decoration: none;  
}

.materia-links a {
    color: var(beige);
    text-decoration: none;
    font-size: 20px;  
}

.materia-links a:hover {
    text-decoration: underline;
    font-size: 22px; 
}

.hamburguer {
    position: relative;
}

.navegacao {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.botao-disciplinas {
    font-size: 24px;
    color: var(beige);
    cursor: pointer;
    user-select: none;
}

.vertical {
    list-style: none;
    position: absolute;
    right: 0;
    top: 40px;
    background: var(--açai);
    width: 150px;
    padding: 0;
    margin: 0;
    display: none;
    border-radius: 5px;
}

.vertical li {
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: beige;
}

.vertical li a {
    color: var(beige);
    text-decoration: none;
    display: block;
    color: beige;
}

.vertical li:hover {
    background: var(--rosa);
}
#menu-toggle {
    display: none;
}

#menu-toggle:checked + .botao-disciplinas + .vertical {
    display: block;
}